:root
  // accent colors
  --vp-c-accent #0056d6  // 锐利但不刺眼的蓝色
  --vp-c-accent-bg #0056d6
  --vp-c-accent-hover #0061ff  // 悬停时稍微更亮
  --inline-code-color #0056d6

  strong
    color #0056d6  // 锐利但柔和的蓝色


  header
    > img
      // 在这里添加 img 的样式
      width 200px
      height auto

  .theme-vdoing-content
    img
      display: block;
      margin: 0 auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;
      border-radius: 8px
    img:hover
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    ol, p, ul 
      line-height: 1.7;
    
    
  body 
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #2c3e50;
    letter-spacing: 0.5px; /* 正文的字间距 */

  p 
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;

 

// // 文档中适配
// table
//   width auto
// .page >*:not(.footer),.card-box
//   box-shadow: none!important

// .page
//   @media (min-width $contentWidth + 80)
//     padding-top $navbarHeight!important
// .home-wrapper .banner .banner-conent
//   padding 0 2.9rem
//   box-sizing border-box
// .home-wrapper .banner .slide-banner .slide-banner-wrapper .slide-item a
//   h2
//     margin-top 2rem
//     font-size 1.2rem!important
//   p
//     padding 0 1rem

// 评论区颜色重置
.gt-container
  .gt-ico-tip
    &::after
      content: '。( Win + . ) or ( ⌃ + ⌘ + ␣ ) open Emoji'
      color: #999
  .gt-meta
    border-color var(--borderColor)!important
  .gt-comments-null
    color var(--textColor)
    opacity .5
  .gt-header-textarea
    color var(--textColor)
    background rgba(180,180,180,0.1)!important
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color rgba(255,255,255,0)!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important
  .gt-comment-content,.gt-comment-admin .gt-comment-content
    background-color rgba(150,150,150,0.1)!important
    &:hover
      box-shadow 0 0 25px rgba(150,150,150,.5)!important
    .gt-comment-body
      color var(--textColor)!important




// qq徽章
.qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &,.vuepress-plugin-demo-block__display
    border-color rgba(160,160,160,.3)
  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;
    svg
      fill: $accentColor !important;


// 全文搜索框
.suggestions
  overflow: auto
  max-height: calc(100vh - 6rem)
  @media (max-width: 719px) {
    width: 90vw;
    min-width: 90vw!important;
    margin-right: -20px;
  }
  .highlight
    color: $accentColor
    font-weight: bold
